fastapi
uvicorn[standard]
gunicorn

# Auth & security
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# ML / Data
torch
torchvision
pandas
pillow
faiss-cpu

# Azure
azure-data-tables
azure-storage-blob

# CLIP
git+https://github.com/openai/CLIP.git
