# Docs: https://github.com/Azure/webapps-deploy
# Python on Azure App Service (Oryx build)

name: Build and deploy Python app to Azure Web App - fashionapi

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Login to Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_ACDC982926FD4760828FCE68608E7989 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A61A460F3060480EA1FECBFAFBE2B752 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DE6EF3C07E1C46B8A4F699299FC7AB9A }}

      # 3️⃣ Deploy source code (Azure will build using Oryx)
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'fashionapi'
          slot-name: 'Production'
          package: .